{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block meta_title %}Address Update{%  endblock %}

{% block page_header_title%}Address{% endblock %}
{% block page_header_description %}{{ family.render_fa }} {{ family.name_text }}{% endblock %}

{% block crumb %}
    {{ block.super }}
    <li><a href="{% url 'family_detail' family.id %}">{{ family.render_fa }} {{ family.name_text }}</a></li>
    <li class="active"><span class="fa fa-envelope"></span> {{ family.address1|default:"New Address" }}</li>
{% endblock %}

{% block main %}
    {% crispy form %}
{% endblock %}