{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block meta_title %}Parent Detail{% endblock %}

{% block page_header_title %}Parent{% endblock %}
{% block page_header_description %}{{ parent }}{% endblock %}

{% block crumb %}
    {{ block.super }}
    <li><a href="{% url 'family_detail' family.id %}"><span class="fa fa-users"></span> {{ family.name_text }}</a></li>
    <li class="active"><span class="fa fa-female"></span> {{ parent }}</li>
{% endblock %}

{% block main %}

    <form class="form-horizontal">
        {% crispy form %}
    </form>

    <a class="btn btn-primary" role="button" href="{% url 'parent_update' parent.id %}"><span
            class="fa fa-pencil"></span> Edit</a>

    {% include "core/audit.html" %}

{% endblock %}