<p><div class="well well-sm">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><strong>Created By</strong></label>

                    <div class="col-sm-8">
                        <p class="form-control-static">{{ created_by }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><strong>Created Date</strong></label>

                    <div class="col-sm-8">
                        <p class="form-control-static">{{ created }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><strong>Modified By</strong></label>

                    <div class="col-sm-8">
                        <p class="form-control-static">{{ modified_by }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><strong>Modified Date</strong></label>

                    <div class="col-sm-8">
                        <p class="form-control-static">{{ modified }}</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</p>