{% extends "base.html" %}

{% load django_tables2 %}

{% block meta_title %}Session List{%  endblock %}

{% block page_header_title%}Sessions{% endblock %}
{% block page_header_description %}List of all sessions. Open completed, and search for new children.{% endblock %}

{% block crumb %}
    {{ block.super }}
    <li class="active"><span class="fa fa-clock-o"></span> Sessions</li>
{% endblock %}

{% block main %}

    {% render_table table %}

{% endblock %}

{% block javascript %}
    <script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}js/dataTables.tableTools.js"></script>
    <script src="{{ STATIC_URL }}js/dataTables.bootstrap.js"></script>

    <script src="{{ STATIC_URL }}js/dataTables.init.js"></script>
{% endblock %}